//- 投稿フォーム作成createPostForm関数
mixin createPostForm(userLoggedIn)
    .postFormContainer
        .userImageContainer
            img(src=userLoggedIn.profilePic,alt="画像が読み込まれませんでした")
        .textareaContainer
            textarea#postTextarea(placeholder="what's happening?")
            .buttonsContainer
                button#submitPostButton(disabled="") Post

//- モーダル作成関数
mixin createReplyModal(userLoggedIn)
    #replyModal.modal.fade(tabindex='-1', aria-labelledby='replyModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#replyModalLabel.modal-title Reply
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                    #originalPostContainer
                    .postFormContainer
                        .userImageContainer
                            img(src=userLoggedIn.profilePic,alt="画像が読み込まれませんでした")
                        .textareaContainer
                            textarea#replyTextarea(placeholder="what's happening?")
                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close
                    button#submitReplyButton.btn.btn-primary(type='button', disabled='') Reply

//- 削除モーダル作成関数
mixin createDeletePostModal()
    #deletePostModal.modal.fade(tabindex='-1', aria-labelledby='deletePostModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#deletePostModalLabel.modal-title 投稿を削除しますか？
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                    p これを削除することができません
                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close
                    button#deletePostButton.btn.btn-primary(type='button') Delete

//- モーダル作成関数
mixin createPostModal(userLoggedIn)
    +createReplyModal(userLoggedIn)
    +createDeletePostModal()
    +createPinnedPostModal()
    +createUnPinnedPostModal()

//- フォローボタン作成
mixin createFollowButton(user, isFollowing)
    - text = isFollowing ? "フォロー中" : "フォローする"
    - buttonClass = isFollowing ? "followButton following" : "followButton"
    button(class=buttonClass, data-user=user._id) #{text}

//- タブ作成
mixin createTab(name, href, isSelected)
    - className = isSelected ? "tab active" : "tab"
    a(href=href, class=className)
        span #{name}

//- プロフィール画像登録モーダル作成
mixin createImageUploadModal()
    #imageUploadModal.modal.fade(tabindex='-1', aria-labelledby='imageUploadModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#imageUploadModalLabel.modal-title 新しいプロフィール画像
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                    input#filePhoto(type="file", name="filePhoto")
                    .imagePreviewContainer
                        img#imagePreview
                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') キャンセル
                    button#imageUploadButton.btn.btn-primary(type='button') 保存

//- 背景画像登録モーダル作成
mixin createCoverPhotoUploadModal()
    #coverPhotoModal.modal.fade(tabindex='-1', aria-labelledby='coverPhotoModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#coverPhotoModalLabel.modal-title 新しい背景画像
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                    input#coverPhoto(type="file", name="filePhoto")
                    .imagePreviewContainer
                        img#coverPreview
                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') キャンセル
                    button#coverPhotoButton.btn.btn-primary(type='button') 保存

//- ピンモーダル作成
mixin createPinnedPostModal()
    #confirmPinModal.modal.fade(tabindex='-1', aria-labelledby='confirmPinModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#confirmPinModalLabel.modal-title 投稿をピン止めしますか？
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                    p この投稿はあなたのプロフィールの一番上に表示されます。
                    p 1つの投稿しかピン留めできません。
                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') キャンセル
                    button#pinPostButton.btn.btn-primary(type='button') ピン

//- ピン外す
mixin createUnPinnedPostModal()
    #unPinModal.modal.fade(tabindex='-1', aria-labelledby='unPinModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#unPinModalLabel.modal-title ピンを外しますか？
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                    p この投稿のピンは解除されます
                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') キャンセル
                    button#unPinPostButton.btn.btn-primary(type='button') ピンを解除
